h1 {
  font-family: Arial, sans-serif;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  font-weight: lighter;
}
h4 {
  font-family: Arial, sans-serif;
  font-size: 22px;
  padding-left: 10px;
  margin-bottom: -10px;
}
h3 {
  font-family: Arial, sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  margin-top: 125px;
}
header {
  background-color: black;
  opacity: 0.8;
  margin: -20px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 35px;
}
footer {
  background-color: grey;
  text-align: center;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}
footer p {
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin-top: 2px;
  color: white;
  display: inline;
}
.main-img {
  background-image: url(../media/restaurant-hero-image.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}
.order-button {
  text-decoration: none;
  font-size: 25px;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 50px;
  width: 605px;
  line-height: 40px;
  display: inline-block;
  margin-left: 20%;
  margin-bottom: 20px;
  padding: 10px 0 0 25px;
  background-color: #009ACD;
  border: none;
  color: white;
  position: absolute;
  bottom: 0;
}
.articles {
  margin-top: 410px;
  display: flex;
  margin-left: 5px;
}
.preview-text {
  text-align: justify;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: black;
  padding: 10px;
}
